ul#navi
  li #[a(href="../") 主页]
  li #[a(href="index.html") 电脑麻将]
  li #[a(href="autoplay.html") 自动对战]
  li #[a(href="netplay.html") 网络对战]
  li #[a(href="rule.html") 规则]
  li #[a(href="paipu.html") 牌谱]
  li #[a(href="paili.html") 牌理]
  li #[a(href="hule.html") 点計算]
  li #[a(href="drill.html") 训练]
  li #[a(href="dapai.html") 切什么]
  li #[a(href="paiga.html") 牌画]
  li #[a(href="https://github.com/kobalab/Majiang" target="_blank") GitHub]
  li #[a(href="https://www.amazon.co.jp/dp/4798067881" target="_blank") 書籍]
