#room
  h1
    img(src="img/logo.png" alt="电脑麻将")
    |  ネット対戦
  .version ver. #{version}
  
  form
    | ルーム
    input(name="room_no" value="" disabled)
    ul.room
      li.user
        img(src="img/icon.png")
        span.name
        input.hide(type="button" name="quit" value="退室")
    select(name="rule")
      option(value="") 电脑麻将规则
    input(name="timer" placeholder="持ち時間")
    input(type="submit" value="対局開始")
